<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DragonsRageSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDE6D2351C7AD18D00A113AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE6D24D1C7AD18D00A113AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE6D2581C7AD18D00A113AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
